*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.btn{
    padding: 15px 30px;
    background: #f5f5f5;
    border: none;
    border-radius: 20px;
}
.btn:hover{
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}
.btn-secondary{
    color: #fff;
    background: #000;
    margin-top: 2rem;
    display: inline-block;
    text-decoration: none;
}
.btn-secondary:hover{
    border: 2px solid #079fe0;
    background: transparent;
    color: #079fe0; 

}
/* Header Start */
header{
    height: 100vh;
    background:
     url("Download\ Nature\ Background\,\ High-Resolution\ Wallpaper\ for\ a\ Serene\ and\ Stunning\ View\ for\ free.jpg") center center/cover  no-repeat;
    overflow: hidden;
    position: relative;
     animation:  bg 30s ease-in-out   infinite ;

}
header *{
    z-index: 2;
}
header *::selection{
    background: darkgreen;
    color: #000;
}
header::before{
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    width: 100%;
    background:linear-gradient(rgba(1, 25, 45,0.01),rgba(1, 25, 45,0.7),rgba(1, 25, 45,0.9),rgba(1, 25, 45,1));
}
header::after{
    content: " ";
    position: absolute;
    top: 90%;
    left: 0%;
    height: 20%;
    width: 100%;
    background: linear-gradient(rgba(1, 25, 45,0.1),rgba(1, 25, 45,0.9));
   
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px ;
    color: #FFF;
}
#navbar nav ul{
    display: flex;

}
#navbar nav ul li{
    list-style: none;
    margin-left: 40px;
    padding: 10px 20px;
}
#navbar nav ul li a{
    text-decoration: none;
    font-size: 24px;
     color: #FFF;
     transition: 0.3s;
}
#navbar nav ul li a:hover,
#navbar nav ul li a.first {
    background: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    color: #000;
}

header .container{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
header .container h1{
    font-size: 80px;
    /* background: url("h1.jfif") center center/cover repeat-x ; */
    background: linear-gradient(#0b3458,#079fe0);
    background-clip: text;
    color: transparent;
    animation: animate 20s linear infinite ;
    font-weight: 900;
    font-family: "Noto Sans",sans-serif;
}
header .container p{
    margin: 20px 0 40px;
    letter-spacing: 10px;
    font-size: 24px;
    color: #f5f5f5;
}
@keyframes animate {
    to{
        background-position-x:-500px ;
    }
}  
@keyframes bg {
    25%{
        background: url("desktop-wallpaper-d-animated-tiger-d-zoo-gays.jpg")center center/ cover no-repeat;

    }
    50%{
        background: url("Wildlife\ Images\ Desktop\ Wallpaper\ HD\,\ A\ Beautiful\ Red\ Fox\ Curled\ Up\ And\ Sleeping\ In\ The\ Snowy___.jpg")center center/ cover no-repeat;
    }
    75%{
        background: url("Wallpaper\ 4K\ Elephant\ Ideas.jpg")center center/ cover no-repeat;
    }
    100%{
        background: url("4k\ wallpaper.jpg")center center/ cover no-repeat;
    }

}
/* Header End */
/* learn Start */
main{
    background: linear-gradient(#01192d);
    position: relative;
}

#learn{
    /* border: 12px double #000; */
    border-radius:30px ;
    height: 100vh;
    background: transparent fixed ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
#learn::before{
    background: #f5f5f5;
    filter: blur(100px);
}
#learn .container{
    margin-top: 2rem;
    position: relative;
}
#learn .container ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#learn .container ul li{
list-style: none;
padding:  0 10px;

}
#learn .container ul:hover li a{
    opacity: 0;
}
#learn *{
    z-index: 3;
}

#learn .container ul li a{
    font-size: 30px;
    margin-bottom: 30px;
    background: linear-gradient(#0b3458,#079fe0) ;
    text-align: center;
    width: 200px;
    border-radius: 90px 0 190px 90px;
    padding: 10px 20px;
    display: inline-block;
    transition: 0.3s;    
    text-decoration: none;
    color: #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 600;
    position: relative;
    z-index: 10;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#learn .container ul li a:hover{
    transform: scale(1.5);
    box-shadow:0 0 5px #079fe0;
    border: 2px solid #079fe0;
    background: transparent;
    color: #fff;
    opacity: 1;
}
#learn .container ul #Tiger::after{
    content:" ";
    position: absolute;
    background: url("Angry\ Tiger\ II\ Concept\ Art\ -\ Md\ Siddique.jpg")  center center/cover no-repeat  ;  
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    height:  700px;
    width:1200px ;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode:screen; 
      transition: 0.5s;   
}
#learn .container ul #Tiger:hover::after{
    opacity: 0.5;

}
#learn .container ul #puma::after{
    content:" " ;
    position: absolute;
        background:  url("Fierce\ cougar.jpg") center center/cover no-repeat  ;  
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    height: 800px;
    width:1200px ;
    opacity: 0;
    pointer-events: none;
        mix-blend-mode:screen; 
          transition: 0.5s; 
}
#learn .container ul #puma:hover::after{
    opacity: 0.5;
}
#learn .container ul #Leopard::after{
    content:"" ;
    position: absolute;
        background:  url("Close-up\ of\ a\ Leopard\ wallpaper\ HD\ 4K\ free\ download\ for\ Desktop\ laptop\ and\ Phone.jpg")   center center/cover no-repeat  ;  
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    height: 800px;
    width:1200px ;
    opacity: 0;
    pointer-events: none;
        mix-blend-mode:screen;  
          transition: 0.5s;
}
#learn .container ul #Leopard:hover::after{
    opacity: 0.5;
}
#learn .container ul #Cheetah::after{
    content:"" ;
    position: absolute;
    top: 50%;
    left: 50%;
    background:url("cheetah.jpg")center center/cover no-repeat  ;
    text-align: center;
    transform: translate(-50%,-50%);
    height: 790px;
    width:1200px ;
    opacity: 0;
    pointer-events: none;
        mix-blend-mode:screen;  
          transition: 0.5s;
}
#learn .container ul #Cheetah:hover::after{
    opacity: 0.5;
}
#learn .container ul #Jaguar::after{
    content:"";
    position: absolute;
    background: url("Jaguar\ irritado\ na\ floresta\ tropical\ _\ imagem\ Premium\ gerada\ com\ IA.jpg")  center center/cover no-repeat  ;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    height: 800px;
    width:1200px ;
    opacity: 0;
    pointer-events: none;
        mix-blend-mode:screen;
          transition: 0.5s;  
}
#learn .container ul #Jaguar:hover::after{
    opacity: 0.5;
}
#learn .container ul #Lion::after{
    content:""  ;
    position: absolute;
    background: url("Lion.jpg")  center center/cover no-repeat  ;    
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    height: 700px;
    width:1200px ;
    opacity: 0;
    pointer-events: none;
        mix-blend-mode:screen;
        transition: 0.5s;  
}
#learn .container ul #Lion:hover::after{
    opacity: 0.5;
}
/* learn End */
/* What Now Start  */
.What{
    margin: 20px 20px;
    border-radius: 190px 0 190px;
    height: 100vh; 
    background:#0b3458; 
    overflow: hidden; 
    border-style:double;
    border-color: rgb(2, 22, 49);
    border-width: 15px;
}
.What h1{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: rgb(170, 170, 4);
    font-weight: 900;
    letter-spacing: 5px;

}
.What .slider{
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    overflow: hidden;
}
.What .slider .list{
    display: flex;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
    /* mask-image: linear-gradient(#0b3458,#09599f); */
}
.What .slider .list .item {
    width:var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autorun 20s linear infinite;
    animation-delay: calc((20s / var(--quantity)) * (var(--position) - 1));
    opacity: 0.8;
}
.What .slider .list:hover .item{
    animation-play-state: paused!important;
}
.What .slider .list .item:hover{
    transform: scale(1.03);
    opacity: 1;
}
.What .slider .list .item img{
    width:100%;
    height:60vh ;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
@keyframes autorun {
    from{
        left: 100%;
    }
    to{
        left: calc( var(--width) * -1);
    }
}
/* What Now End */
/* Abot Start */
#about{
     height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;      
}
#about .container{
 background: #0b3458 fixed;

}
#about .container .title{
    margin: 20px 0 4rem 0;
    text-align: center;
    color: #fff;
}
#about .container .title h2{
    font-size: 40px;
}
#about .container .title p{
    margin-top: 15px;
       color: #9a9a9a;
       letter-spacing: 4px;
}
#about .container .about-content{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 0 20px;  
} 
#about .container .about-content p{
 color: #fff;
   margin-right: 7rem;
   font-weight: 500;
   line-height: 1.6; 
}
#about .container .about-content img{
    border-radius: 320px 0 0 0;
    width: 540px;
}
/* Abot End */
/* Video Start */
#video{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#video .container .video h2{
    color: #f8aa0f;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 46px;
    text-align: center;
    margin: 20px 0 ;
}
#video .container .video video{
    width: 780px;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid #01192d;
}
/* Video End */
/* Ticket Start */
#ticket {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ticket .container{
     background: url("form.png")
   center/cover no-repeat;
    width: 100%;
    height: 80%;
        display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
#ticket .container *{
    z-index: 10;
}
#ticket .container::before{
    content: " ";
    background: #079fe0;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.9;

}
#ticket .container::after{
    content: " ";
    background: #079fe0;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.1;

}
#ticket .container form{
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;    
}
#ticket .container form label{
    font-size: 26px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color: #f5f5f5;
}
#ticket .container input{
    display: block;
    margin: 20px 20px;
    border-radius: 15px;
    transform: scale(1.5);
    border: none;
    padding: 5px;
}
#ticket .container input:focus{
    outline: solid #01192d;
}
#ticket .container form button{
    padding: 10px 15px;
    border-radius: 20px;
    background: #0b3458;
    border: none;
    color: #fff;
}
#ticket .container form button:hover{
    background:transparent ;
    color: #000;
    border: 1px solid #000;
}
/* Ticket End */
/* Contact Start */
.social-icon {
    display: flex;
    justify-content: start;
    align-items: center;
}
.social-icon a{
    color: #fff;
}
#contact{
    border-top: #0b3458 double 20px;
    padding: 20px 20px;
    color: #fff;
}
/* Contact End */
/* Footer Start */
footer{
    padding: 10px;
    text-align: center;
    background: #0b3458;
}
/* Footer End */